{% extends "blog/base.html" %}
{% block content %}

<h1>{{ text }}</h1>
  {% for post in friends %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.profile.image.url }}" >
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-detail' post.pk %}">{{ post.username }}</a>
          </div>

          <h2><a class="article-title" href="{% url 'user-detail' post.pk %}">{{ post.get_full_name }}</a></h2>
          <small class="text-muted"> last seen {{ post.last_login }}</small>
          <a href="{% url 'change_friends' operation='remove' pk=post.pk %}">
              <button type="button" class="btn btn-default">unfollow</button>
              </a>
            </div>

    </article>


  {% endfor %}
  
  <h1>All users</h1>
  {% for post in posts %}
    {% if not post in friends %}

    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.profile.image.url }}" >
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-detail' post.pk %}">{{ post.username }}</a>
        </div>

        <h2><a class="article-title" href="{% url 'user-detail' post.pk %}">{{ post.get_full_name }}</a></h2>
        <small class="text-muted"> last seen {{ post.last_login }}</small>

          <a href="{% url 'change_friends' operation='add' pk=post.pk %}">  <button type="button" class="btn btn-success">Follow</button>  </a>


    </div>

    </article>
    {% endif %}

  {% endfor %}


{% endblock content %}
